-#  This file is app/views/movies/index.html.haml
-# Zaida Mejia Feb. 28, hw2 1.b
-# created Movie Title and Relese Date link to sort
-# hw2 2 copied and pasted form_tag from pastebin.
-#edited form_tag to have corresponding id
%h1 All Movies

= form_tag movies_path, :id => "ratings_form", :method => :get do 
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, (true if @ratings[rating]), :id => "ratings_#{rating}"
  =submit_tag 'Refresh', :id => "ratings_submit"

/*Feb 28 hw2 1b created links and 'hilite' when Movie Title or Reease Date is clicked.*/    
%table#movies
  %thead
    %tr 
      %th{:class =>('hilite'if @sort == 'title')}= link_to 'Movie Title', movies_path(:sort=> 'title',:ratings=>@ratings), :id => 'title_header'
      %th Rating
      %th{:class =>('hilite'if @sort == 'release')}= link_to 'Release Date', movies_path(:sort => 'release',:ratings=>@ratings),:id => 'release_date_header'
      %th More Info
      /*-------------------------------------------------------------------------------*/

  %tbody
    /* call sort method
    - @movies.sort_by{|movie| sort(movie)}.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
